@font-face {
  font-family: 'Manrope';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('./assets/fonts/Manrope-Regular.woff2') format('woff2'),
    url('./assets/fonts/Manrope-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('./assets/fonts/Manrope-Medium.woff2') format('woff2'),
    url('./assets/fonts/Manrope-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('./assets/fonts/Manrope-SemiBold.woff2') format('woff2'),
    url('./assets/fonts/Manrope-SemiBold.ttf') format('truetype');
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--page-bg-color);
  overflow-y: overlay;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: var(--task-scrollbar-track);
  border-radius: 12px;
}

body::-webkit-scrollbar-thumb {
  background: var(--task-scrollbar-thumb);
  border-radius: 12px;
}
/* Скидання базових властивостей для посилань (a або клас .link */
a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* Скидання базових властивостей у списків (ul або клас .list) */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Властивості для коректного відображення зображень */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
